@import "pretendard/dist/web/variable/pretendardvariable-dynamic-subset.css";
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Pretendard Variable", Pretendard, ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, "SF Mono", Menlo,
    Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@layer base {
  html {
    @apply h-full font-sans antialiased;
  }

  body {
    @apply min-h-full flex flex-col bg-background text-foreground;
  }
}

